Repository YazdanZ/McGill-ECSE428-Project, pull requests merged in 2023-03, with the labels that each got.

#93 Map
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/components/Map.jsx
  frontend/src/components/pages/Create_Trip.jsx
Labels: Frontend

#123 Fixed Create Trip
  backend/__pycache__/app.cpython-39.pyc
  backend/instance/mcpool.db
  frontend/src/components/pages/Create_Trip.jsx
  frontend/src/components/pages/Login.jsx
Labels: bug, Backend, Frontend

#124 105 view trips frontend functionality(andrew)
  backend/__pycache__/app.cpython-39.pyc
  backend/app.py
  backend/instance/mcpool.db
  backend/sql_queries/address.sql
  backend/sql_queries/delete.sql
  frontend/src/App.js
  frontend/src/components/MapDisplay.jsx
  frontend/src/components/pages/Login.jsx
  frontend/src/components/pages/TripDisplay.jsx
  frontend/src/components/pages/ViewTripsAsDriver.jsx
  frontend/src/components/pages/ViewTripsAsDriverMap.jsx
Labels: Backend, Frontend

#126 Create trip fixes
  .gitignore
  backend/__pycache__/app.cpython-39.pyc
  backend/app.py
  backend/instance/mcpool.db
  frontend/src/components/pages/Create_Trip.jsx
  tests/features/Create_Trip_Final.feature
  tests/steps/Create_Trip_Final.py
Labels: bug, Backend, Frontend, Testing

#127 feature tests passing for create location
  frontend/src/components/pages/Create_Trip.jsx
  tests/features/DisplayTripCost.feature
  tests/features/createLocation.feature
  tests/steps/createLocation.py
  tests/steps/displayTripCost.py
Labels: Testing

#129 View trips as driver testing
  backend/__pycache__/app.cpython-39.pyc
  backend/sql_queries/car.sql
  frontend/src/components/pages/Create_Trip.jsx
  frontend/src/components/pages/ViewTripsAsDriver.jsx
  instance/mcpool.db
  tests/environment.py
  tests/features/AssignPassengerToTrip.feature
  tests/features/Create_Trip.feature
  tests/features/ViewTripsAsDriver.feature
  tests/steps/AssignPassengerToTrip.py
  tests/steps/Create_Trip.py
  tests/steps/ViewTripsAsDriver_steps.py
Labels: Testing
